<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Accident_Index</th>
      <th>Location_Easting_OSGR</th>
      <th>Location_Northing_OSGR</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Police_Force</th>
      <th>Accident_Severity</th>
      <th>Number_of_Vehicles</th>
      <th>Number_of_Casualties</th>
      <th>Date</th>
      <th>Day_of_Week</th>
      <th>Time</th>
      <th>Local_Authority_(District)</th>
      <th>Local_Authority_(Highway)</th>
      <th>1st_Road_Class</th>
      <th>1st_Road_Number</th>
      <th>Road_Type</th>
      <th>Speed_limit</th>
      <th>Junction_Detail</th>
      <th>Junction_Control</th>
      <th>2nd_Road_Class</th>
      <th>2nd_Road_Number</th>
      <th>Pedestrian_Crossing-Human_Control</th>
      <th>Pedestrian_Crossing-Physical_Facilities</th>
      <th>Light_Conditions</th>
      <th>Weather_Conditions</th>
      <th>Road_Surface_Conditions</th>
      <th>Special_Conditions_at_Site</th>
      <th>Carriageway_Hazards</th>
      <th>Urban_or_Rural_Area</th>
      <th>Did_Police_Officer_Attend_Scene_of_Accident</th>
      <th>LSOA_of_Accident_Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>200501BS00001</td>
      <td>525680.0</td>
      <td>178240.0</td>
      <td>-0.191170</td>
      <td>51.489096</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>04-01-05</td>
      <td>3</td>
      <td>17:42</td>
      <td>12</td>
      <td>E09000020</td>
      <td>3</td>
      <td>3218</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>E01002849</td>
    </tr>
    <tr>
      <th>1</th>
      <td>200501BS00002</td>
      <td>524170.0</td>
      <td>181650.0</td>
      <td>-0.211708</td>
      <td>51.520075</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>05-01-05</td>
      <td>4</td>
      <td>17:36</td>
      <td>12</td>
      <td>E09000020</td>
      <td>4</td>
      <td>450</td>
      <td>3</td>
      <td>30</td>
      <td>6</td>
      <td>2</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>5</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>E01002909</td>
    </tr>
    <tr>
      <th>2</th>
      <td>200501BS00003</td>
      <td>524520.0</td>
      <td>182240.0</td>
      <td>-0.206458</td>
      <td>51.525301</td>
      <td>1</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>06-01-05</td>
      <td>5</td>
      <td>0:15</td>
      <td>12</td>
      <td>E09000020</td>
      <td>5</td>
      <td>0</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>E01002857</td>
    </tr>
    <tr>
      <th>3</th>
      <td>200501BS00004</td>
      <td>526900.0</td>
      <td>177530.0</td>
      <td>-0.173862</td>
      <td>51.482442</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>07-01-05</td>
      <td>6</td>
      <td>10:35</td>
      <td>12</td>
      <td>E09000020</td>
      <td>3</td>
      <td>3220</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>E01002840</td>
    </tr>
    <tr>
      <th>4</th>
      <td>200501BS00005</td>
      <td>528060.0</td>
      <td>179040.0</td>
      <td>-0.156618</td>
      <td>51.495752</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>10-01-05</td>
      <td>2</td>
      <td>21:13</td>
      <td>12</td>
      <td>E09000020</td>
      <td>6</td>
      <td>0</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>-1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>7</td>
      <td>1</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>E01002863</td>
    </tr>
  </tbody>
</table>