<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Accident_Severity</th>
      <th>Number_of_Vehicles</th>
      <th>Number_of_Casualties</th>
      <th>Date</th>
      <th>Day_of_Week</th>
      <th>Time</th>
      <th>Local_Authority_(District)</th>
      <th>Local_Authority_(Highway)</th>
      <th>Road_Type</th>
      <th>Speed_limit</th>
      <th>Junction_Detail</th>
      <th>Junction_Control</th>
      <th>Light_Conditions</th>
      <th>Weather_Conditions</th>
      <th>Road_Surface_Conditions</th>
      <th>Urban_or_Rural_Area</th>
      <th>Did_Police_Officer_Attend_Scene_of_Accident</th>
      <th>Casualty_Class</th>
      <th>Sex_of_Casualty</th>
      <th>Age_Band_of_Casualty</th>
      <th>Casualty_Severity</th>
      <th>Pedestrian_Location</th>
      <th>Car_Passenger</th>
      <th>Vehicle_Type</th>
      <th>Vehicle_Manoeuvre</th>
      <th>Vehicle_Location-Restricted_Lane</th>
      <th>Skidding_and_Overturning</th>
      <th>Hit_Object_in_Carriageway</th>
      <th>1st_Point_of_Impact</th>
      <th>Journey_Purpose_of_Driver</th>
      <th>Sex_of_Driver</th>
      <th>Age_of_Driver</th>
      <th>Age_of_Vehicle</th>
    </tr>
    <tr>
      <th>Accident_Index</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>200501BS00001</th>
      <td>-0.191170</td>
      <td>51.489096</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>04-01-05</td>
      <td>3</td>
      <td>17:42</td>
      <td>12</td>
      <td>E09000020</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>7</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>9</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>15</td>
      <td>2</td>
      <td>74</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>200501BS00002</th>
      <td>-0.211708</td>
      <td>51.520075</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>05-01-05</td>
      <td>4</td>
      <td>17:36</td>
      <td>12</td>
      <td>E09000020</td>
      <td>3</td>
      <td>30</td>
      <td>6</td>
      <td>2</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>7</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>42</td>
      <td>3</td>
    </tr>
    <tr>
      <th>200501BS00003</th>
      <td>-0.206458</td>
      <td>51.525301</td>
      <td>3</td>
      <td>2</td>
      <td>1</td>
      <td>06-01-05</td>
      <td>5</td>
      <td>0:15</td>
      <td>12</td>
      <td>E09000020</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>9</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>17</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>35</td>
      <td>5</td>
    </tr>
    <tr>
      <th>200501BS00004</th>
      <td>-0.173862</td>
      <td>51.482442</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>07-01-05</td>
      <td>6</td>
      <td>10:35</td>
      <td>12</td>
      <td>E09000020</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>0</td>
      <td>9</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>15</td>
      <td>1</td>
      <td>62</td>
      <td>6</td>
    </tr>
    <tr>
      <th>200501BS00005</th>
      <td>-0.156618</td>
      <td>51.495752</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>10-01-05</td>
      <td>2</td>
      <td>21:13</td>
      <td>12</td>
      <td>E09000020</td>
      <td>6</td>
      <td>30</td>
      <td>0</td>
      <td>-1</td>
      <td>7</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>9</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>15</td>
      <td>2</td>
      <td>49</td>
      <td>4</td>
    </tr>
  </tbody>
</table>