<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Accident_Index</th>
      <th>Vehicle_Reference</th>
      <th>Casualty_Reference</th>
      <th>Casualty_Class</th>
      <th>Sex_of_Casualty</th>
      <th>Age_of_Casualty</th>
      <th>Age_Band_of_Casualty</th>
      <th>Casualty_Severity</th>
      <th>Pedestrian_Location</th>
      <th>Pedestrian_Movement</th>
      <th>Car_Passenger</th>
      <th>Bus_or_Coach_Passenger</th>
      <th>Pedestrian_Road_Maintenance_Worker</th>
      <th>Casualty_Type</th>
      <th>Casualty_Home_Area_Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>200501BS00001</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>37</td>
      <td>7</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>200501BS00002</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>37</td>
      <td>7</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>-1</td>
      <td>11</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>200501BS00003</td>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>62</td>
      <td>9</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>200501BS00004</td>
      <td>1</td>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>30</td>
      <td>6</td>
      <td>3</td>
      <td>5</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>200501BS00005</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>49</td>
      <td>8</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>-1</td>
      <td>3</td>
      <td>-1</td>
    </tr>
  </tbody>
</table>