<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Accident_Index</th>
      <th>Vehicle_Reference</th>
      <th>Vehicle_Type</th>
      <th>Towing_and_Articulation</th>
      <th>Vehicle_Manoeuvre</th>
      <th>Vehicle_Location-Restricted_Lane</th>
      <th>Junction_Location</th>
      <th>Skidding_and_Overturning</th>
      <th>Hit_Object_in_Carriageway</th>
      <th>Vehicle_Leaving_Carriageway</th>
      <th>Hit_Object_off_Carriageway</th>
      <th>1st_Point_of_Impact</th>
      <th>Was_Vehicle_Left_Hand_Drive?</th>
      <th>Journey_Purpose_of_Driver</th>
      <th>Sex_of_Driver</th>
      <th>Age_of_Driver</th>
      <th>Age_Band_of_Driver</th>
      <th>Engine_Capacity_(CC)</th>
      <th>Propulsion_Code</th>
      <th>Age_of_Vehicle</th>
      <th>Driver_IMD_Decile</th>
      <th>Driver_Home_Area_Type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>200501BS00001</td>
      <td>1</td>
      <td>9</td>
      <td>0</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>15</td>
      <td>2</td>
      <td>74</td>
      <td>10</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>200501BS00002</td>
      <td>1</td>
      <td>11</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>42</td>
      <td>7</td>
      <td>8268</td>
      <td>2</td>
      <td>3</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>200501BS00003</td>
      <td>1</td>
      <td>11</td>
      <td>0</td>
      <td>17</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>35</td>
      <td>6</td>
      <td>8300</td>
      <td>2</td>
      <td>5</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>200501BS00003</td>
      <td>2</td>
      <td>9</td>
      <td>0</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>3</td>
      <td>1</td>
      <td>15</td>
      <td>1</td>
      <td>62</td>
      <td>9</td>
      <td>1762</td>
      <td>1</td>
      <td>6</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>200501BS00004</td>
      <td>1</td>
      <td>9</td>
      <td>0</td>
      <td>18</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>15</td>
      <td>2</td>
      <td>49</td>
      <td>8</td>
      <td>1769</td>
      <td>1</td>
      <td>4</td>
      <td>2</td>
      <td>1</td>
    </tr>
  </tbody>
</table>